<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Staging Template">
    <meta name="keywords" content="Staging, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Style</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slick.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__logo">
        <a href="#" style="font-size: 40px; color: white">MyCloset</a>
    </div>
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="#" style="font-size: 40px; color: white">StyleChat</a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="../index.html">Home</a></li>
                        <li><a href="./contact.html">MyPage</a></li>
                        <li><a href="./projects.html">Closet</a></li>
                        <li><a href="./about.html">Chatbot</a></li>
                        <li><a href="./blog.html">Community</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero" th:if="${#authentication.principal eq 'anonymousUser'}">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="/static/img/hero/hero-1.jpg">
            <div class="hero__text">
                <input type="text" placeholder="스타일에 대해 질문하세요"
                       style="background: none; width: 100%; font-size: 24px; border: none; text-align: center; color: white">
                <button class="btn btn-outline-light" style="margin-top: 20px">질문하기</button>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!--&lt;!&ndash; Hero Section Begin &ndash;&gt;-->
<!--<section class="hero" th:if="${#authentication.principal eq 'anonymousUser'}">-->
<!--    <div class="hero__slider owl-carousel">-->
<!--        <div class="hero__items set-bg" data-setbg="/static/img/hero/hero-1.jpg">-->
<!--            <div class="hero__text">-->
<!--                <form th:action="@{/generateAnswer}" method="post">-->
<!--                    <input type="text" id="questionInput" name="question" placeholder="스타일에 대해 질문하세요"-->
<!--                           style="background: none; width: 100%; font-size: 24px; border: none; text-align: center; color: white">-->
<!--                    <button class="btn btn-outline-light" style="margin-top: 20px">질문하기</button>-->
<!--                </form>-->
<!--                <div th:if="${answer != null}">-->
<!--                    <div style="color: white; margin-top: 80px; margin-bottom: 30px">이 스타일은 레트로의 힙합 스타일입니다. 힙합스타일은 ~~</div>-->
<!--                    <div style="width: 180px; height: 180px; overflow: hidden; margin: 0 auto">-->
<!--                        <a><image src="/static/img/closet/closet1.jpg" alt="이미지 설명" style="width: auto; height: auto; max-width: 100%; max-height: 100%; display: block; margin: 0 auto"></image></a>-->
<!--                    </div>-->
<!--                    <div style="color: white">힙합</div>-->
<!--                    <button type="button" style="margin-top: 10px; background: none" class="btn btn-outline-light">상세설명 보기</button>-->
<!--                    <button type="button" style="margin-top: 10px; background: none" class="btn btn-outline-light">추천상품 보기</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; Hero Section End &ndash;&gt;-->

<!-- Footer Section Begin -->
<footer class="footer set-bg" data-setbg="/static/img/footer-bg.jpg">
    <div class="container">
        <div class="copyright" style="margin-top: -50px">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="copyright__text">
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com"
                                    target="_blank">Colorlib</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="copyright__widget">
                        <a href="#">Terms of use</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>